### 0. 필요한 라이브러리 로드

In [1]:
import pymysql
from sqlalchemy import create_engine
# pip install mysqlclient

from abc import ABC, abstractmethod
from typing import *
import re

from prettytable import PrettyTable
import pandas as pd
pd.options.display.float_format = '{:.10f}'.format
import pprint

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. 결합대상정보 테이블 쿼리 클래스

* MySQL Server와 Python Script를 연동하여 스키마의 테이블에 쿼리를 날려 데이터를 추출하는 클래스

* 다른 데이터베이스 엔진에 대한 구현을 확장 및 유지보수하기 위해 추상화 클래스를 사용하여 인터페이스 정의

In [2]:
# import pymysql
# from abc import ABC, abstractmethod

class PreprocessQuery(ABC):
    """가명처리를 위한 개인정보 추출 목적의 SQL쿼리 추상클래스"""
    @abstractmethod
    def connectDatabase(self):
        """데이터베이스에 연결하기 위해 접속하는 메서드"""
        pass
    
    @abstractmethod
    def executeQuery(self, SQL):
        """SQL쿼리를 실행하는 메서드"""
        pass
    
    @abstractmethod
    def closeConnection(self):
        """데이터베이스와의 연결을 종료하는 메서드"""
        pass

In [3]:
# from pseudonymizer.encryptionPseudonyms.abstractpreprocessQuery import PreprocessQuery
# from typing import *

class PyMySQLQuery(PreprocessQuery):
    """MySQL Server데이터베이스에 연결하고 쿼리를 실행하여 데이터를 추출하는 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.DBconnection = ConnectMySQLserver(self._pw)
        self.SQL = None
    
    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속하는 메서드"""
        self.DBconnection.connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)
    
    def dataQueryLanguage(self, sql):
        """SQL쿼리문 작성 메서드(데이터 추출 쿼리문 캡슐화)"""
        self.SQL = f"{sql}"
    
    def executeQuery(self):
        """SQL쿼리문 실행 및 예외처리 메서드(데이터베이스로 쿼리를 보내서 실행)"""
        try:
            action_output = self.DBconnection.cursor.execute(self.SQL)
            return action_output
        except pymysql.Error as e:
            print(f"Error Executing Query: {e}")
    
    def commitTransaction(self):
        """실행결과를 확정(트랜잭션을 커밋)하는 메서드"""
        self.DBconnection.connection.commit()
    
    def closeConnection(self):
        """데이터베이스와의 연결을 종료하는 메서드"""
        self.DBconnection.close_connection()
        
    def executeQueryAsDataFrame(self):
        """SQL 쿼리를 실행한 결과를 판다스 데이터프레임으로 출력하는 메서드"""
        try:
            action_output = self.DBconnection.cursor.execute(self.SQL)
            records = self.DBconnection.cursor.fetchall()
            attributes = [i[0] for i in self.DBconnection.cursor.description]
            querydata = pd.DataFrame(records, columns = attributes)
            return querydata
        
        except pymysql.Error as e:
            print(f"Executing query error: {e}")

In [4]:
class ConnectMySQLserver:
    """데이터베이스 엔진을 연동하기 위한 접속 및 연결 종료 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.connection = None
        self.cursor = None
    
    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속 메서드
        : 서버IP주소, 사용자명, 계정 암호, 데이터베이스명, 한글 인코딩 방식"""
        try:
            self.connection = pymysql.connect(
                host=serverIP, port=port_num,
                user=user_name, password=self._pw,
                db=database_name, charset=kr_encoder
            )
            self.cursor = self.connection.cursor()
        except pymysql.Error as e:
            print(f"Error Connecting to MySQL from Python: {e}")
    
    def closeConnection(self):
        """연결 및 커서 닫기 메서드"""
        if self.cursor:
            self.cursor.close()
        if self.connection:
            self.connection.close()

In [5]:
queryObject = PyMySQLQuery(pw = "1234")

In [6]:
queryObject.connectDatabase(
    serverIP = "localhost", 
    port_num = 3306, 
    user_name = "root", 
    database_name = "FINANCIALCONSUMER", 
    kr_encoder = "utf8")

In [7]:
SQL = input("SQL 쿼리문 입력변수 = ")
# DATA_FINANCE
# DATA_RETAIL
# DATA_MOBILE_COMMUNICATION
# DATA_JOIN_CARDPAYMENT
# DATA_JOIN_ACCOMODATIONAPP

SQL 쿼리문 입력변수 =

In [58]:
queryObject.dataQueryLanguage(sql = SQL)

In [59]:
results = queryObject.executeQueryAsDataFrame()

In [60]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85000 entries, 0 to 84999
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NUM_SERIAL                 85000 non-null  int64
 1   NAME                       85000 non-null  object
 2   GENDER                     85000 non-null  object
 3   AGE                        85000 non-null  int64
 4   JOIN_DATE                  85000 non-null  object
 5   PHONE_NUMBER               85000 non-null  object
 6   ZIP_CODE                   85000 non-null  int64
 7   SHIPPING_ADDRESS           85000 non-null  object
 8   NUM_PURCHASES_BOOKS        85000 non-null  int64
 9   AMT_PURCHASES_BOOKS        85000 non-null  int64
 10  NUM_PURCHASES_CULTURE      85000 non-null  int64
 11  AMT_PURCHASES_CULTURE      85000 non-null  int64
 12  NUM_PURCHASES_EDU          85000 non-null  int64
 13  AMT_PURCHASES_EDU          85000 non-null  int64
 14  AMT_USAGE_MEMBERSHIP       85000 non-null  int64
 15  AMT_USAGE_GIFTCERTIFICATE  85000 non-null  int64
dtypes: int64(11), object(5)
memory usage: 10.4+ MB

```
if results:
    columns = [ [desc[0] for desc in queryObject.cursor.description] ]
    table = PrettyTable(*columns)
    
    for row in results:
        row_list = list(row)
        table.add_row(row_list)
    print(table)
```

### 1.2. 데이터베이스 엔진만 구현해서 테이블을 판다스 데이터프레임으로 로드하는 방식

* 테스트 편의를 위해 임시로 활용

In [5]:
engine = create_engine(
    "mysql://root:1234@localhost/FINANCIALCONSUMER", 
    convert_unicode = True)

/var/folders/mc/4g4c10ss47sfcc5s9kqsl1cc0000gn/T/ipykernel_91684/3494123396.py:1: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  engine = create_engine(

In [6]:
conn = engine.connect()

In [7]:
DATA_FINANCE = pd.read_sql_table("DATA_FINANCE", conn)
DATA_RETAIL = pd.read_sql_table("DATA_RETAIL", conn)
DATA_MOBILE_COMMUNICATION = pd.read_sql_table("DATA_MOBILE_COMMUNICATION", conn)
DATA_JOIN_CARDPAYMENT = pd.read_sql_table("DATA_JOIN_CARDPAYMENT", conn)
DATA_JOIN_ACCOMODATIONAPP = pd.read_sql_table("DATA_JOIN_ACCOMODATIONAPP", conn)

### 2. 결합키 생성 항목 및 결합대상정보(가명정보) 분할 클래스

### 3. 결합키 · 일련번호 · 결합키연계정보 · SALT값 생성 클래스

### 4. 가명정보 결합 클래스
* 결합키 기반으로 다른 데이터끼리 join하는 것
* 우선 ```NEW_DATA = pd.merge(DATA_RETAIL, DATA_FINANCE, on = "원하는 컬럼 값을 합쳐 암호화한 pk로서의 결합키", how = "inner")``` 를 결과물로 만든다고 생각
* 이 과정에서 결합률도 체크해야 함
* 암호화 및 결합 / 추출 과정의 일부로서, 상위 클래스 하의 실행 클래스로서 돌아갈 것을 염두에 두고 짜야 함

In [63]:
NEW_DATA = pd.merge(DATA_RETAIL, DATA_FINANCE, on = "NAME", how = "inner")
NEW_DATA

,NUM_SERIAL_x,NAME,GENDER_x,AGE_x,JOIN_DATE,PHONE_NUMBER_x,ZIP_CODE_x,SHIPPING_ADDRESS,NUM_PURCHASES_BOOKS,AMT_PURCHASES_BOOKS,...,REPAYMENT_RISK_INDEX,AMT_CREDITCARD_PAYMENT,AMT_CASHADVANCE_PAYMENT,NUM_CREDITCARD_ISSUANCES,NUM_CREDITCARD_CANCELED,TF_LOAN,AMT_CREDITLOAN,AMT_CREDITLOAN_OUTSTANDING,TF_PENSION,AMT_PENSION
0,0,맹수원,male,73,2021-02-01,010-7161-5648,26310,강원특별자치도 원주시 소초면 대왕고개길 53-13,949,8588542,...,74,9080795,6010764,9,0,N,0,0,N,0
1,1,가한성,male,44,2019-12-23,010-4411-3871,48235,부산광역시 수영구 연수로312번길 13(망미동),278,1696132,...,89,5205629,486526,4,3,N,0,0,N,0
2,2,진노순,female,59,2020-04-15,010-8299-4394,63207,제주특별자치도 제주시 신성로13길 26(이도이동),324,3843932,...,96,8075086,5434698,4,4,N,0,0,N,0
3,3,성간란,female,34,2020-02-12,010-8178-4332,42146,대구광역시 수성구 희망로36길 122-25(황금동),720,9124604,...,75,8621098,9891305,2,5,N,0,0,N,0
4,4,프주희,female,49,2020-01-22,010-9654-3329,32932,충청남도 논산시 강경읍 금백로175번길 23,9,1412817,...,55,3680804,8151371,3,2,N,0,0,N,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80726,84995,조양립,female,66,2022-09-05,010-3563-1984,17020,경기도 용인시 처인구 관전로 9-3(역북동),233,383644,...,51,3085222,6583596,3,3,N,0,0,N,0
80727,84996,유찬엽,female,28,2022-04-01,010-2837-0382,36407,경상북도 영덕군 영해면 원구길 28-3,139,1365534,...,7,9093427,3852526,4,5,N,0,0,N,0
80728,84997,김작향,female,36,2022-10-20,010-9707-4542,36929,경상북도 문경시 호계면 막곡길 39-4,351,944905,...,82,6644350,213086,1,4,N,0,0,N,0
80729,84998,최충상,female,22,2021-03-07,010-4598-7996,32806,충청남도 계룡시 엄사면 번영4길 12-1,578,9401781,...,4,8161144,6433040,6,5,N,0,0,N,0
80730,84999,정의혁,male,24,2022-05-11,010-6820-9544,33629,충청남도 서천군 화양면 신장로376번길 35,694,4704612,...,55,3449775,7354635,8,2,N,0,0,N,0

결합키 기준 결합 (inner join) 테스트용 데이터 생성

In [8]:
def combiner(columns: list, df):
    """데이터프레임에서 원하는 컬럼을 추출하여 합치는 코드"""
    new_df = pd.DataFrame()
    result = df.copy()

    for column in columns:
        new_df[column] = df[column]

    new_df = new_df.apply(lambda x: x.astype(str))
    
    result['COMBINED'] = new_df.apply(lambda row: ''.join(row), axis=1)
    result = result.drop(columns = columns)
    return result

In [9]:
d1 = combiner(['NAME', 'GENDER', 'AGE'], DATA_FINANCE)

In [10]:
d2 = combiner(['NAME', 'GENDER', 'AGE'], DATA_RETAIL)

In [11]:
MERGED_DATA = pd.merge(d1, d2, on = 'COMBINED', how = "inner")
MERGED_DATA

,NUM_SERIAL_x,PHONE_NUMBER_x,ZIP_CODE_x,HOME_ADDRESS,HOME_TYPE,INCOME_BRACKET,CREDIT_SCORE,REPAYMENT_RISK_INDEX,AMT_CREDITCARD_PAYMENT,AMT_CASHADVANCE_PAYMENT,...,ZIP_CODE_y,SHIPPING_ADDRESS,NUM_PURCHASES_BOOKS,AMT_PURCHASES_BOOKS,NUM_PURCHASES_CULTURE,AMT_PURCHASES_CULTURE,NUM_PURCHASES_EDU,AMT_PURCHASES_EDU,AMT_USAGE_MEMBERSHIP,AMT_USAGE_GIFTCERTIFICATE
0,0,010-1826-4535,27218,충청북도 제천시 수산면 옥순봉로6길 61-32,"판잣집, 비닐하우스",6,441,61,5357418,8583708,...,27218,충청북도 제천시 수산면 옥순봉로6길 61-32,293,7093865,447,52228841,9746,21951387,1851280,2097143
1,1,010-1765-1467,12736,경기도 광주시 초월읍 도곡길 109-9,다세대주택,8,515,10,8870904,5328233,...,12736,경기도 광주시 초월읍 도곡길 109-9,11,6619891,840,9914876,8699,43716844,2397483,717648
2,2,010-6593-5091,51292,경상남도 창원시 마산회원구 회원남32길 28-1(회원동),"판잣집, 비닐하우스",1,269,17,8525658,2005663,...,51292,경상남도 창원시 마산회원구 회원남32길 28-1(회원동),636,6019351,430,41393138,4753,36913360,4219147,4940226
3,3,010-7714-1345,58541,전라남도 무안군 청계면 구로길 65,다가구 단독주택,7,254,10,2593007,8944424,...,58541,전라남도 무안군 청계면 구로길 65,292,4449894,446,9876612,8004,8373593,237327,298510
4,4,010-5360-6014,31741,충청남도 당진시 신평면 신평길 64-6,영업 겸용 단독주택,8,590,79,411525,5125357,...,31741,충청남도 당진시 신평면 신평길 64-6,725,1320354,238,30371285,7848,15456712,444548,550366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80726,94994,010-2302-7433,62049,광주광역시 서구 풍암운리로41번길 12-6(풍암동),오피스텔,4,826,80,4079595,858885,...,62049,광주광역시 서구 풍암운리로41번길 12-6(풍암동),170,9012979,148,41705073,1508,37754185,5413979,1458690
80727,94996,010-2817-1504,26200,강원특별자치도 영월군 무릉도원면 황정길 253-11,기타,7,875,83,4691445,6000005,...,26200,강원특별자치도 영월군 무릉도원면 황정길 253-11,873,3040243,967,6373834,8557,6773262,592622,2241624
80728,94997,010-2536-2511,14614,경기도 부천시 장말로 292(심곡동),연립주택,4,294,26,8488084,7377056,...,14614,경기도 부천시 장말로 292(심곡동),237,5900094,692,5743754,8584,42650767,203925,1029630
80729,94998,010-5091-5053,32755,충청남도 금산군 부리면 물페기길 66,오피스텔,6,986,7,5109440,3625570,...,32755,충청남도 금산군 부리면 물페기길 66,433,2737383,993,21935853,8592,13730824,2604975,2359097
80730,94999,010-9622-1090,10585,경기도 고양시 덕양구 안진6길 12(지축동),오피스텔,7,44,76,874939,5785351,...,10585,경기도 고양시 덕양구 안진6길 12(지축동),793,4799351,573,21662764,3241,17715462,4469865,618145

In [12]:
MERGED_DATA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80731 entries, 0 to 80730
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NUM_SERIAL_x                80731 non-null  int64
 1   PHONE_NUMBER_x              80731 non-null  object
 2   ZIP_CODE_x                  80731 non-null  int64
 3   HOME_ADDRESS                80731 non-null  object
 4   HOME_TYPE                   80731 non-null  object
 5   INCOME_BRACKET              80731 non-null  int64
 6   CREDIT_SCORE                80731 non-null  int64
 7   REPAYMENT_RISK_INDEX        80731 non-null  int64
 8   AMT_CREDITCARD_PAYMENT      80731 non-null  int64
 9   AMT_CASHADVANCE_PAYMENT     80731 non-null  int64
 10  NUM_CREDITCARD_ISSUANCES    80731 non-null  int64
 11  NUM_CREDITCARD_CANCELED     80731 non-null  int64
 12  TF_LOAN                     80731 non-null  object
 13  AMT_CREDITLOAN              80731 non-null  int64
 14  AMT_CREDITLOAN_OUTSTANDING  80731 non-null  int64
 15  TF_PENSION                  80731 non-null  object
 16  AMT_PENSION                 80731 non-null  int64
 17  COMBINED                    80731 non-null  object
 18  NUM_SERIAL_y                80731 non-null  int64
 19  JOIN_DATE                   80731 non-null  datetime64[ns]
 20  PHONE_NUMBER_y              80731 non-null  object
 21  ZIP_CODE_y                  80731 non-null  int64
 22  SHIPPING_ADDRESS            80731 non-null  object
 23  NUM_PURCHASES_BOOKS         80731 non-null  int64
 24  AMT_PURCHASES_BOOKS         80731 non-null  int64
 25  NUM_PURCHASES_CULTURE       80731 non-null  int64
 26  AMT_PURCHASES_CULTURE       80731 non-null  int64
 27  NUM_PURCHASES_EDU           80731 non-null  int64
 28  AMT_PURCHASES_EDU           80731 non-null  int64
 29  AMT_USAGE_MEMBERSHIP        80731 non-null  int64
 30  AMT_USAGE_GIFTCERTIFICATE   80731 non-null  int64
dtypes: datetime64[ns](1), int64(22), object(8)
memory usage: 19.1+ MB

In [29]:
class MergeData:
    """결합키를 기준으로 두 데이터를 결합하는 클래스"""
    def __init__(self, key_column):
        self.key_column = key_column

    def mergeData(self, data1, data2):
        """데이터 결합 메서드
           - 현재는 데이터 2개 기준, 3개 이상 데이터 결합도 확인해야 함
        """
        result = pd.merge(data1, data2, on = self.key_column, how = "inner")
        return result

    def mergedRadio(self, data):
        """데이터 결합률 계산 메서드"""
        ratio = len(result) / len(data)
        return ratio

In [30]:
md = MergeData("COMBINED")
result = md.mergeData(d1, d2)
result

,NUM_SERIAL_x,PHONE_NUMBER_x,ZIP_CODE_x,HOME_ADDRESS,HOME_TYPE,INCOME_BRACKET,CREDIT_SCORE,REPAYMENT_RISK_INDEX,AMT_CREDITCARD_PAYMENT,AMT_CASHADVANCE_PAYMENT,...,ZIP_CODE_y,SHIPPING_ADDRESS,NUM_PURCHASES_BOOKS,AMT_PURCHASES_BOOKS,NUM_PURCHASES_CULTURE,AMT_PURCHASES_CULTURE,NUM_PURCHASES_EDU,AMT_PURCHASES_EDU,AMT_USAGE_MEMBERSHIP,AMT_USAGE_GIFTCERTIFICATE
0,0,010-1826-4535,27218,충청북도 제천시 수산면 옥순봉로6길 61-32,"판잣집, 비닐하우스",6,441,61,5357418,8583708,...,27218,충청북도 제천시 수산면 옥순봉로6길 61-32,293,7093865,447,52228841,9746,21951387,1851280,2097143
1,1,010-1765-1467,12736,경기도 광주시 초월읍 도곡길 109-9,다세대주택,8,515,10,8870904,5328233,...,12736,경기도 광주시 초월읍 도곡길 109-9,11,6619891,840,9914876,8699,43716844,2397483,717648
2,2,010-6593-5091,51292,경상남도 창원시 마산회원구 회원남32길 28-1(회원동),"판잣집, 비닐하우스",1,269,17,8525658,2005663,...,51292,경상남도 창원시 마산회원구 회원남32길 28-1(회원동),636,6019351,430,41393138,4753,36913360,4219147,4940226
3,3,010-7714-1345,58541,전라남도 무안군 청계면 구로길 65,다가구 단독주택,7,254,10,2593007,8944424,...,58541,전라남도 무안군 청계면 구로길 65,292,4449894,446,9876612,8004,8373593,237327,298510
4,4,010-5360-6014,31741,충청남도 당진시 신평면 신평길 64-6,영업 겸용 단독주택,8,590,79,411525,5125357,...,31741,충청남도 당진시 신평면 신평길 64-6,725,1320354,238,30371285,7848,15456712,444548,550366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80726,94994,010-2302-7433,62049,광주광역시 서구 풍암운리로41번길 12-6(풍암동),오피스텔,4,826,80,4079595,858885,...,62049,광주광역시 서구 풍암운리로41번길 12-6(풍암동),170,9012979,148,41705073,1508,37754185,5413979,1458690
80727,94996,010-2817-1504,26200,강원특별자치도 영월군 무릉도원면 황정길 253-11,기타,7,875,83,4691445,6000005,...,26200,강원특별자치도 영월군 무릉도원면 황정길 253-11,873,3040243,967,6373834,8557,6773262,592622,2241624
80728,94997,010-2536-2511,14614,경기도 부천시 장말로 292(심곡동),연립주택,4,294,26,8488084,7377056,...,14614,경기도 부천시 장말로 292(심곡동),237,5900094,692,5743754,8584,42650767,203925,1029630
80729,94998,010-5091-5053,32755,충청남도 금산군 부리면 물페기길 66,오피스텔,6,986,7,5109440,3625570,...,32755,충청남도 금산군 부리면 물페기길 66,433,2737383,993,21935853,8592,13730824,2604975,2359097
80730,94999,010-9622-1090,10585,경기도 고양시 덕양구 안진6길 12(지축동),오피스텔,7,44,76,874939,5785351,...,10585,경기도 고양시 덕양구 안진6길 12(지축동),793,4799351,573,21662764,3241,17715462,4469865,618145

In [31]:
ratio = md.mergedRadio(d2)
ratio

0.9497764705882353

In [16]:
DATA_JOIN_CARDPAYMENT = pd.read_sql_table("DATA_JOIN_CARDPAYMENT", conn)
DATA_JOIN_ACCOMODATIONAPP = pd.read_sql_table("DATA_JOIN_ACCOMODATIONAPP", conn)

### 5.1. 결합대상정보 반출 클래스
* DB로 작업 반영하는 과정은 SQL 쿼리로 이루어질 예정 (삼중결합 케이스 및 속도 문제 고려)

In [17]:
class ControlDB(ABC):
    """DB에 쿼리를 넣는 클래스를 묶어서 관리하기 위한 추상 클래스"""
    @abstractmethod
    def controlDB(self):
        pass

In [23]:
class CommitTargetData(ControlDB):
    """결합대상정보 분리 및 반출 클래스"""
    def __init__(self, data, engine):
        self.data = data
        self.engine = engine

    def deleteKey(self, column):
        """결합키 제거 메서드"""
        data = self.data.drop(labels=column, axis=1)
        return data

   
    def controlDB(self, table_name):
        """결합대상정보를 SQL 테이블로 커밋하는 메서드"""
        self.data.to_sql(table_name, con=engine, if_exists='fail', index=False)

In [24]:
cd = CommitTargetData(result, engine)

In [25]:
cd_result = cd.deleteKey("COMBINED")

In [26]:
cd_result

,NUM_SERIAL_x,PHONE_NUMBER_x,ZIP_CODE_x,HOME_ADDRESS,HOME_TYPE,INCOME_BRACKET,CREDIT_SCORE,REPAYMENT_RISK_INDEX,AMT_CREDITCARD_PAYMENT,AMT_CASHADVANCE_PAYMENT,...,ZIP_CODE_y,SHIPPING_ADDRESS,NUM_PURCHASES_BOOKS,AMT_PURCHASES_BOOKS,NUM_PURCHASES_CULTURE,AMT_PURCHASES_CULTURE,NUM_PURCHASES_EDU,AMT_PURCHASES_EDU,AMT_USAGE_MEMBERSHIP,AMT_USAGE_GIFTCERTIFICATE
0,0,010-1826-4535,27218,충청북도 제천시 수산면 옥순봉로6길 61-32,"판잣집, 비닐하우스",6,441,61,5357418,8583708,...,27218,충청북도 제천시 수산면 옥순봉로6길 61-32,293,7093865,447,52228841,9746,21951387,1851280,2097143
1,1,010-1765-1467,12736,경기도 광주시 초월읍 도곡길 109-9,다세대주택,8,515,10,8870904,5328233,...,12736,경기도 광주시 초월읍 도곡길 109-9,11,6619891,840,9914876,8699,43716844,2397483,717648
2,2,010-6593-5091,51292,경상남도 창원시 마산회원구 회원남32길 28-1(회원동),"판잣집, 비닐하우스",1,269,17,8525658,2005663,...,51292,경상남도 창원시 마산회원구 회원남32길 28-1(회원동),636,6019351,430,41393138,4753,36913360,4219147,4940226
3,3,010-7714-1345,58541,전라남도 무안군 청계면 구로길 65,다가구 단독주택,7,254,10,2593007,8944424,...,58541,전라남도 무안군 청계면 구로길 65,292,4449894,446,9876612,8004,8373593,237327,298510
4,4,010-5360-6014,31741,충청남도 당진시 신평면 신평길 64-6,영업 겸용 단독주택,8,590,79,411525,5125357,...,31741,충청남도 당진시 신평면 신평길 64-6,725,1320354,238,30371285,7848,15456712,444548,550366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80726,94994,010-2302-7433,62049,광주광역시 서구 풍암운리로41번길 12-6(풍암동),오피스텔,4,826,80,4079595,858885,...,62049,광주광역시 서구 풍암운리로41번길 12-6(풍암동),170,9012979,148,41705073,1508,37754185,5413979,1458690
80727,94996,010-2817-1504,26200,강원특별자치도 영월군 무릉도원면 황정길 253-11,기타,7,875,83,4691445,6000005,...,26200,강원특별자치도 영월군 무릉도원면 황정길 253-11,873,3040243,967,6373834,8557,6773262,592622,2241624
80728,94997,010-2536-2511,14614,경기도 부천시 장말로 292(심곡동),연립주택,4,294,26,8488084,7377056,...,14614,경기도 부천시 장말로 292(심곡동),237,5900094,692,5743754,8584,42650767,203925,1029630
80729,94998,010-5091-5053,32755,충청남도 금산군 부리면 물페기길 66,오피스텔,6,986,7,5109440,3625570,...,32755,충청남도 금산군 부리면 물페기길 66,433,2737383,993,21935853,8592,13730824,2604975,2359097
80730,94999,010-9622-1090,10585,경기도 고양시 덕양구 안진6길 12(지축동),오피스텔,7,44,76,874939,5785351,...,10585,경기도 고양시 덕양구 안진6길 12(지축동),793,4799351,573,21662764,3241,17715462,4469865,618145

In [27]:
cd.controlDB("newTable")

### 5.2. 결합키연계정보(결합키와 일련번호의 매핑테이블) 및 SALT값 DB분리보관(이관)을 위한 추출 클래스

In [52]:
class CommitKeyData(ControlDB):
    def __init__(self, data, engine):
        self.data = data
        self.engine = engine

    def selectKey(self, columns: list):
        result = pd.DataFrame()
        for column in columns:
            result[column] = self.data[column]
        return result

    def controlDB(self, data, table_name, schema_name):
        """결합키연계정보, SALT값을 다른 스키마의 SQL 테이블로 커밋하는 메서드"""
        data.to_sql(table_name, con=engine, if_exists='fail', index=False, schema=schema_name)

In [53]:
ckd = CommitKeyData(result, engine)

In [54]:
ckd_key = ckd.selectKey(['COMBINED'])
ckd_key

          COMBINED
0      강현심female80
1      서삼봉female30
2      팽상아female53
3      박옥점female26
4      윤경념female69
...            ...
80726    이성언male65
80727    림상영male53
80728  명시라female66
80729  롤미라female73
80730    안전웅male46

[80731 rows x 1 columns]

In [55]:
ckd.controlDB(ckd_key, "newKey", "KEYSFOR")

In [35]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80731 entries, 0 to 80730
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NUM_SERIAL_x                80731 non-null  int64
 1   PHONE_NUMBER_x              80731 non-null  object
 2   ZIP_CODE_x                  80731 non-null  int64
 3   HOME_ADDRESS                80731 non-null  object
 4   HOME_TYPE                   80731 non-null  object
 5   INCOME_BRACKET              80731 non-null  int64
 6   CREDIT_SCORE                80731 non-null  int64
 7   REPAYMENT_RISK_INDEX        80731 non-null  int64
 8   AMT_CREDITCARD_PAYMENT      80731 non-null  int64
 9   AMT_CASHADVANCE_PAYMENT     80731 non-null  int64
 10  NUM_CREDITCARD_ISSUANCES    80731 non-null  int64
 11  NUM_CREDITCARD_CANCELED     80731 non-null  int64
 12  TF_LOAN                     80731 non-null  object
 13  AMT_CREDITLOAN              80731 non-null  int64
 14  AMT_CREDITLOAN_OUTSTANDING  80731 non-null  int64
 15  TF_PENSION                  80731 non-null  object
 16  AMT_PENSION                 80731 non-null  int64
 17  COMBINED                    80731 non-null  object
 18  NUM_SERIAL_y                80731 non-null  int64
 19  JOIN_DATE                   80731 non-null  datetime64[ns]
 20  PHONE_NUMBER_y              80731 non-null  object
 21  ZIP_CODE_y                  80731 non-null  int64
 22  SHIPPING_ADDRESS            80731 non-null  object
 23  NUM_PURCHASES_BOOKS         80731 non-null  int64
 24  AMT_PURCHASES_BOOKS         80731 non-null  int64
 25  NUM_PURCHASES_CULTURE       80731 non-null  int64
 26  AMT_PURCHASES_CULTURE       80731 non-null  int64
 27  NUM_PURCHASES_EDU           80731 non-null  int64
 28  AMT_PURCHASES_EDU           80731 non-null  int64
 29  AMT_USAGE_MEMBERSHIP        80731 non-null  int64
 30  AMT_USAGE_GIFTCERTIFICATE   80731 non-null  int64
dtypes: datetime64[ns](1), int64(22), object(8)
memory usage: 19.1+ MB

### 5.3. 2 ~ 5.2 까지 전부 실행하는 클래스
* Pseudonym 클래스 참고

In [ ]:
class CryptoGraphy:
    """반입된 데이터를 클래스에 반입한 뒤, 결합을 실행하여 결합키연계정보와 결합대상정보를 반출하는 실행 클래스
       - 데이터 2개 혹은 3개 반입
       - 결합키생성항목 / 결합대상항목 분리
       - 결합키생성항목 암호화 + 결합대상항목에 붙이기
       - 결합키 기준 데이터 결합
       - 결합 결과 중 결합대상정보 / 결합키연계정보 분리 반출
    
    """
    def __init__(self, data: list):
        pass

    def joinData(self, data: list):
        pass