### 0. 필요한 라이브러리 로드

In [1]:
import pymysql
from sqlalchemy import create_engine
# pip install mysqlclient

from abc import ABC, abstractmethod
from typing import *
import re

from prettytable import PrettyTable
import pandas as pd
pd.options.display.float_format = '{:.10f}'.format
import pprint

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. 결합대상정보 테이블 쿼리 클래스

* MySQL Server와 Python Script를 연동하여 스키마의 테이블에 쿼리를 날려 데이터를 추출하는 클래스

* 다른 데이터베이스 엔진에 대한 구현을 확장 및 유지보수하기 위해 추상화 클래스를 사용하여 인터페이스 정의

In [2]:
# import pymysql
# from abc import ABC, abstractmethod

class PreprocessQuery(ABC):
    """가명처리를 위한 개인정보 추출 목적의 SQL쿼리 추상클래스"""
    @abstractmethod
    def connectDatabase(self):
        """데이터베이스에 연결하기 위해 접속하는 메서드"""
        pass
    
    @abstractmethod
    def executeQuery(self, SQL):
        """SQL쿼리를 실행하는 메서드"""
        pass
    
    @abstractmethod
    def closeConnection(self):
        """데이터베이스와의 연결을 종료하는 메서드"""
        pass

In [3]:
# from pseudonymizer.encryptionPseudonyms.abstractpreprocessQuery import PreprocessQuery
# from typing import *

class PyMySQLQuery(PreprocessQuery):
    """MySQL Server데이터베이스에 연결하고 쿼리를 실행하여 데이터를 추출하는 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.DBconnection = ConnectMySQLserver(self._pw)
        self.SQL = None
    
    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속하는 메서드"""
        self.DBconnection.connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)
    
    def dataQueryLanguage(self, sql):
        """SQL쿼리문 작성 메서드(데이터 추출 쿼리문 캡슐화)"""
        self.SQL = f"{sql}"
    
    def executeQuery(self):
        """SQL쿼리문 실행 및 예외처리 메서드(데이터베이스로 쿼리를 보내서 실행)"""
        try:
            action_output = self.DBconnection.cursor.execute(self.SQL)
            return action_output
        except pymysql.Error as e:
            print(f"Error Executing Query: {e}")
    
    def commitTransaction(self):
        """실행결과를 확정(트랜잭션을 커밋)하는 메서드"""
        self.DBconnection.connection.commit()
    
    def closeConnection(self):
        """데이터베이스와의 연결을 종료하는 메서드"""
        self.DBconnection.close_connection()
        
    def executeQueryAsDataFrame(self):
        """SQL 쿼리를 실행한 결과를 판다스 데이터프레임으로 출력하는 메서드"""
        try:
            action_output = self.DBconnection.cursor.execute(self.SQL)
            records = self.DBconnection.cursor.fetchall()
            attributes = [i[0] for i in self.DBconnection.cursor.description]
            querydata = pd.DataFrame(records, columns = attributes)
            return querydata
        
        except pymysql.Error as e:
            print(f"Executing query error: {e}")

In [4]:
class ConnectMySQLserver:
    """데이터베이스 엔진을 연동하기 위한 접속 및 연결 종료 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.connection = None
        self.cursor = None
    
    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속 메서드
        : 서버IP주소, 사용자명, 계정 암호, 데이터베이스명, 한글 인코딩 방식"""
        try:
            self.connection = pymysql.connect(
                host=serverIP, port=port_num,
                user=user_name, password=self._pw,
                db=database_name, charset=kr_encoder
            )
            self.cursor = self.connection.cursor()
        except pymysql.Error as e:
            print(f"Error Connecting to MySQL from Python: {e}")
    
    def closeConnection(self):
        """연결 및 커서 닫기 메서드"""
        if self.cursor:
            self.cursor.close()
        if self.connection:
            self.connection.close()

In [5]:
queryObject = PyMySQLQuery(pw = "1234")

In [6]:
queryObject.connectDatabase(
    serverIP = "localhost", 
    port_num = 3306, 
    user_name = "root", 
    database_name = "FINANCIALCONSUMER", 
    kr_encoder = "utf8")

In [8]:
SQL = input("SQL 쿼리문 입력변수 = ")
# DATA_FINANCE
# DATA_RETAIL
# DATA_MOBILE_COMMUNICATION
# DATA_JOIN_CARDPAYMENT
# DATA_JOIN_ACCOMODATIONAPP

SQL 쿼리문 입력변수 =  select * from DATA_JOIN_ACCOMODATIONAPP 	inner join DATA_JOIN_CARDPAYMENT 		on DATA_JOIN_ACCOMODATIONAPP.NAME = DATA_JOIN_CARDPAYMENT.NAME;

In [9]:
queryObject.dataQueryLanguage(sql = SQL)

In [10]:
results = queryObject.executeQueryAsDataFrame()

In [12]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47359 entries, 0 to 47358
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   NUM_SERIAL                     47359 non-null  int64
 1   NAME                           47359 non-null  object
 2   BIRTH_DATE                     47359 non-null  object
 3   GENDER                         47359 non-null  object
 4   EMAIL                          47359 non-null  object
 5   PHONE_NUMBER                   47359 non-null  object
 6   TF_BUSINESS_MEMBER             47359 non-null  object
 7   USE_SERVICE_AREA               47359 non-null  object
 8   USE_SERVICE_DATE               47359 non-null  object
 9   NUM_SERIAL                     47359 non-null  int64
 10  NAME                           47359 non-null  object
 11  GENDER                         47359 non-null  object
 12  PHONE_NUMBER                   47359 non-null  object
 13  BIRTH_DATE                     47359 non-null  object
 14  PAYMENT_DATE                   47359 non-null  object
 15  AMT_CREDITCARD_PAYMENT         47359 non-null  int64
 16  AFFILIGATESTORE_ADDRESS        47359 non-null  object
 17  AFFILIGATESTORE_INDUSTRY_CODE  47359 non-null  object
 18  AFFILIGATESTORE_INDUSTRY_TYPE  47359 non-null  object
dtypes: int64(3), object(16)
memory usage: 6.9+ MB

```
if results:
    columns = [ [desc[0] for desc in queryObject.cursor.description] ]
    table = PrettyTable(*columns)
    
    for row in results:
        row_list = list(row)
        table.add_row(row_list)
    print(table)
```

### 1.2. 데이터베이스 엔진만 구현해서 테이블을 판다스 데이터프레임으로 로드하는 방식

* 테스트 편의를 위해 임시로 활용

In [7]:
engine = create_engine(
    "mysql://root:1234@localhost/FINANCIALCONSUMER", 
    convert_unicode = True)

/var/folders/mc/4g4c10ss47sfcc5s9kqsl1cc0000gn/T/ipykernel_28526/3494123396.py:1: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  engine = create_engine(

In [8]:
conn = engine.connect()

In [9]:
DATA_FINANCE = pd.read_sql_table("DATA_FINANCE", conn)
DATA_RETAIL = pd.read_sql_table("DATA_RETAIL", conn)
DATA_MOBILE_COMMUNICATION = pd.read_sql_table("DATA_MOBILE_COMMUNICATION", conn)
DATA_JOIN_CARDPAYMENT = pd.read_sql_table("DATA_JOIN_CARDPAYMENT", conn)
DATA_JOIN_ACCOMODATIONAPP = pd.read_sql_table("DATA_JOIN_ACCOMODATIONAPP", conn)

### * 상속용 클래스
- 클래스 1 : 테이블 분할하여 DB에 저장
- 클래스 2 : 테이블 JOIN하여 DB에 저장
- 해당 클래스들을 상속하여 이후 DB 컨트롤 및 실행클래스 내 활용에 사용

In [14]:
class DivideMySQL(PyMySQLQuery):
    """테이블을 분할하여 DB에 저장하는 클래스"""
    def insertDB(self):
        pass

In [15]:
class JoinMySQL(PyMySQLQuery):
    """테이블 여러개를 Join하여 DB에 저장하는 클래스"""
    def joinDB(self):
        pass

### 2. 결합키 생성 항목 및 결합대상정보(가명정보) 분할 클래스
- 전체 정보에 일련번호 부여
   - 일련번호 구성 : 테이블명 + 행번호
- DB에서 결합키 생성 항목 select → 원 데이터와 다른 스키마에 집어넣기
   - INSERT INTO 다른스키마명.다른테이블명 (a, b) SELECT a, b FROM 현재스키마명.원래테이블명;
   - 결합키 생성항목 + 일련번호 구성으로 테이블 만들기
- DB에서 결합대상정보 select → 원 데이터와 동일 혹은 다른 스키마에 집어넣기
   - CREATE TABLE 현재스키마명.남은테이블명 AS SELECT c, d, e FROM 현재스키마명.원래테이블명;
   - 결합대상정보 + 일련번호 구성으로 테이블 만들기

In [17]:
class InsertKey(DivideMySQL):
    """결합키 생성항목 DB 분할 삽입 클래스"""
    def __init__(self, data: str, pw: str, schema_name: str, table_name: str):
        self.data = data
        self.pw = pw
        # self.columns = columns
        self.schema_name = schema_name
        self.table_name = table_name
        super().__init__(pw = self.pw)

    def addSerialNum(self, serial_col: str, serial_text: str):
        """SQL로 원본 데이터에 일련번호 부여하기 메서드
           일련번호 형태를 테이블명+행번호가 기본, 혹은 table이 이름이면 t1, t2, t3 이렇게 진행되도록 하기

           * self.serial_col로 입력한 컬럼이 해당 테이블에 존재하는 경우 제거하고 작업하는 구문 삽입 필요
        """
        # super().dataQueryLanguage(f"ALTER TABLE {self.data} DROP COLUMN IF EXISTS {self.serial_col}")
        # super().executeQuery()
        
        # 컬럼 만들기
        make_column = f"ALTER TABLE {self.data} ADD COLUMN {serial_col} VARCHAR(1000)"
        super().dataQueryLanguage(make_column)
        super().executeQuery()

        # 값 할당
        super().dataQueryLanguage("SET @counter = 0;")
        super().executeQuery()
        
        super().dataQueryLanguage(f"UPDATE {self.data} SET {serial_col} = CONCAT('{serial_text}', @counter := @counter + 1);")
        super().executeQuery()

    def insertDB(self, columns: list):
        """결합키 생성 항목 columns를 받아 DB에 입력하는 메서드"""
        join_columns = ', '.join(columns)

        super().dataQueryLanguage(f"DROP TABLE IF EXISTS {self.schema_name}.{self.table_name}")
        super().executeQuery()
        
        sql = f"CREATE TABLE {self.schema_name}.{self.table_name} AS SELECT {self.serial_col}, {join_columns} FROM {self.data}"
        super().dataQueryLanguage(sql)
        super().executeQuery()

In [18]:
class InsertTargets(DivideMySQL):
    """결합대상정보 DB 분할 삽입 클래스"""
    def __init__(self, data: str, pw: str, schema_name: str, table_name: str):
        self.data = data
        self.pw = pw
        self.schema_name = schema_name
        self.table_name = table_name
        super().__init__(pw = self.pw)

    def insertDB(self, columns: list):
        """결합대상정보 DB 입력 메서드
           : 원래 테이블을 복사한 뒤, 결합키 생성항목 columns를 제거하여 생성
        """
        super().dataQueryLanguage(f"DROP TABLE IF EXISTS {self.schema_name}.{self.table_name}")
        super().executeQuery()
        
        create_sql = f"CREATE TABLE {self.schema_name}.{self.table_name} AS SELECT * FROM {self.data}"
        super().dataQueryLanguage(create_sql)
        super().executeQuery()

        for column in columns:
            drop_sql = f"ALTER TABLE {self.schema_name}.{self.table_name} drop {column}"
            super().dataQueryLanguage(drop_sql)
            super().executeQuery()

### 3. 결합키 · 일련번호 · 결합키연계정보 · SALT값 생성 클래스
- 사전에 만든 결합대상정보 + 일련번호 구성 테이블 가져오기 (데이터 갯수만큼 반복)
- SALT값 직접 생성해야 할 경우 난수생성 함수로 SALT값 만들기
- 결합대상정보 컬럼 합친 뒤 암호화하여 결합키 생성 : 데이터프레임 작업
- 결합키 기준으로 일련번호 결합하여 매핑테이블 만들기 : 데이터프레임 작업
    - 입력값, 출력값 모두 데이터프레임 
    - SELECT * from 데이터1 INNER JOIN 데이터2 ON 데이터1.결합키 = 데이터2.결합키; (마지막 데이터까지 반복해서 합치기)
- 데이터프레임에서 결합키 제거

In [19]:
class CreateMappingTable(JoinMySQL):
    """결합키연계정보, 일련번호, 결합키, SALT 등 매핑테이블 만드는 클래스"""
    def __init__(self, pw: str, tables: list, schema_name: str, result_name: str, key_col: str):
        self.pw = pw
        self.tables = tables
        self.schema_name = schema_name
        self.result_name = result_name
        self.key_col = key_col
        super().__init__(pw = self.pw)

    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """DB 연결 메서드"""
        super().connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)

    def createSalt(self):
        """SALT값 만드는 메서드"""
        pass

    def createKey(self):
        """데이터를 합쳐 암호화하여 결합키를 만드는 메서드"""
        pass

    def renameCol(self, serial_col: str, suffixes: list):
        """테이블별로 serial_col 이었던 컬럼명을 {serial_col}_{suffixes[i]} 형태로 바꾸는 메서드"""
        for i in range(len(self.tables)):
            super().dataQueryLanguage(f"ALTER TABLE {self.tables[i]} RENAME COLUMN {serial_col} to {serial_col}_{suffixes[i]}")
            super().executeQuery()

    def joinDB(self, serial_col: str, suffixes: list):
        """일련번호를 결합키 기준으로 결합하여 매핑테이블 만드는 메서드

           예시 구문 : 
           CREATE table joined_view2 AS
           SELECT serialnum_2, serialnum_3, new_table_concat_r.result
           FROM new_table_concat_r
           INNER JOIN new_table_concat_2 ON new_table_concat_r.result = new_table_concat_2.result;
           
        """
        super().dataQueryLanguage(f"DROP TABLE IF EXISTS {super.schema_name}.{super.result_name}")
        super().executeQuery()

        create_sql = f"CREATE TABLE {super.schema_name}.{super.result_name} AS "
        select_sql = f"SELECT {self.tables[0]}.{self.key_col}, {serial_col}_{suffixes[0]}, "
        from_sql = f"FROM {self.tables[0]} "
        join_sql = f"INNER JOIN {self.tables[1]} ON {self.tables[0]}.{self.key_col} = {self.tables[1]}.{self.key_col} "

        if len(self.tables) > 2:
            for i in range(2, len(self.tables)):
                select_sql += f"{serial_col}_{suffixes[i]}, "
                join_sql += f"INNER JOIN {self.tables[i]} ON {self.tables[0]}.{self.key_col} = {self.tables[i]}.{self.key_col} "
        else:
            pass

        select_sql = select_sql[:-2] + " "

        sql = create_sql + select_sql + from_sql + join_sql

        super().dataQueryLanguage(sql)
        super().executeQuery()

- CreateMappingTable 클래스 테스트

In [85]:
ct3 = CreateMappingTable(pw = "1234")
ct3.connectDatabase(serverIP = "localhost", 
    port_num = 3306, 
    user_name = "root", 
    database_name = "FINANCIALCONSUMER", 
    kr_encoder = "utf8")

In [86]:
ct3.renameCol(tables = ["NEW_TABLE_R", "NEW_TABLE_TARGET"],
          serial_col = "SERIALNUM", suffixes=["2", "3"])

Error Executing Query: (1054, "Unknown column 'SERIALNUM' in 'new_table_r'")
Error Executing Query: (1054, "Unknown column 'SERIALNUM' in 'new_table_target'")

In [87]:
ct3.joinDB(schema_name = "FINANCIALCONSUMER", result_name = "JoinResult", 
           tables = ["NEW_TABLE_CONCAT_R", "NEW_TABLE_CONCAT_2"],
           key_col = "result", serial_col = "SERIALNUM", suffixes=["2", "3"])

- 샘플 데이터프레임으로 매핑테이블 만들기 (아래는 샘플데이터 만든 구문)
    - ```create table NEW_TABLE_CONCAT_R select SERIALNUM, concat(NAME, GENDER, AGE) as result from NEW_TABLE_R;```
    - ```create table NEW_TABLE_CONCAT_2 select SERIALNUM, concat(NAME, GENDER, AGE) as result from NEW_TABLE_2;```

In [13]:
queryObject.dataQueryLanguage("SELECT * FROM NEW_TABLE_CONCAT_R")
concat_r = queryObject.executeQueryAsDataFrame()

In [ ]:
queryObject.dataQueryLanguage("SELECT * FROM NEW_TABLE_CONCAT_2")
concat_2 = queryObject.executeQueryAsDataFrame()

### 4. 가명정보 결합 클래스
- 결합키 매핑테이블 가져오기
   - SELECT * from 매핑테이블
- 결합대상정보 가져오기 (일련번호 있음)
   - SELECT * from 결합대상정보
- 결합하기
   - 매핑테이블의 일련번호를 축으로 inner join 하기
   - A기관 결합대상정보 + A기관 일련번호, B기관 결합대상정보 + B기관 일련번호
   - SELECT * from 결합대상정보 INNER JOIN 매핑테이블 ON 결합대상정보.일련번호 = 매핑테이블.일련번호; (일련번호 컬럼 갯수만큼 반복)
   - 결합 결과 데이터프레임으로 리턴

In [20]:
class JoinData(JoinMySQL):
    """매핑테이블의 일련번호를 기준으로 결합대상정보를 결합하는 클래스"""
    def __init__(self, pw: str, schema_name: str, result_name: str, mapping_table: str, targets: list):
        self.pw = pw
        self.schema_name = schema_name
        self.result_name = result_name
        self.mapping_table = mapping_table
        self.targets = targets
        super().__init__(pw = self.pw)

    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """DB 연결 메서드"""
        super().connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)

    def renameCol(self, targets: list, serial_col: str, suffixes: list):
        """테이블별로 일련번호 붙이는 메서드. {serial_col}_{suffixes[i]} 형태의 컬럼명을 가짐."""
        for i in range(len(targets)):
            super().dataQueryLanguage(f"ALTER TABLE {targets[i]} RENAME COLUMN {serial_col} to {serial_col}_{suffixes[i]}")
            super().executeQuery()

    def joinDB(self, serial_col: str, suffixes: list):
        """매핑테이블의 일련번호를 기준으로 결합대상정보를 결합하는 메서드
           결합키를 제외한 컬럼명들을 SELECT에 나열하고, INNER JOIN을 한줄씩 더하기
        """
        super().dataQueryLanguage(f"DROP TABLE IF EXISTS {self.schema_name}.{self.result_name}")
        super().executeQuery()

        create_sql = f"CREATE TABLE {self.schema_name}.{self.result_name} AS "
        select_sql = f"SELECT {self.mapping_table}.*, "
        from_sql = f"FROM {self.mapping_table} "
        join_sql = f""

    
        for i in range(len(targets)):
            # 컬럼명 전부 구하고 그중 매핑테이블 컬럼명 빼서 SELECT 구문에 포함시키기
            super().dataQueryLanguage(f"SELECT column_name FROM information_schema.columns WHERE table_schema = '{self.schema_name}' AND table_name = '{self.targets[i]}'")
            result = super().executeQueryAsDataFrame()

            li = result['COLUMN_NAME'].tolist()
            li.remove(f"{serial_col}_{suffixes[i]}")
            select_sql += f"{', '.join(li)}, "
            
            join_sql += f"INNER JOIN {self.targets[i]} ON {self.targets[i]}.{serial_col}_{suffixes[i]} = {self.mapping_table}.{serial_col}_{suffixes[i]}"
            
        select_sql = select_sql[:-2] + " "

        sql = create_sql + select_sql + from_sql + join_sql

        super().dataQueryLanguage(sql)
        super().executeQuery()

In [128]:
queryObject.dataQueryLanguage("SELECT column_name FROM information_schema.columns WHERE table_schema = 'FINANCIALCONSUMER' AND table_name = 'NEW_TABLE_3'")
ri = queryObject.executeQueryAsDataFrame()
ri

                   COLUMN_NAME
0                   NUM_SERIAL
1                 PHONE_NUMBER
2                     ZIP_CODE
3                 HOME_ADDRESS
4                    HOME_TYPE
5               INCOME_BRACKET
6                 CREDIT_SCORE
7         REPAYMENT_RISK_INDEX
8       AMT_CREDITCARD_PAYMENT
9      AMT_CASHADVANCE_PAYMENT
10    NUM_CREDITCARD_ISSUANCES
11     NUM_CREDITCARD_CANCELED
12                     TF_LOAN
13              AMT_CREDITLOAN
14  AMT_CREDITLOAN_OUTSTANDING
15                  TF_PENSION
16                 AMT_PENSION
17                   SERIALNUM

In [140]:
jd2 = JoinData(pw = "1234")
jd2.connectDatabase(
    serverIP = "localhost", 
    port_num = 3306, 
    user_name = "root", 
    database_name = "FINANCIALCONSUMER", 
    kr_encoder = "utf8"
)

In [141]:
jd2.joinDB(schema_name = "FINANCIALCONSUMER", result_name = "RESULT2", mapping_table = "JOINED_VIEW2", 
                        targets = ["NEW_TABLE_3", "NEW_TABLE_TARGET"], serial_col = "SERIALNUM", suffixes=["2", "R"])

['NUM_SERIAL', 'PHONE_NUMBER', 'ZIP_CODE', 'HOME_ADDRESS', 'HOME_TYPE', 'INCOME_BRACKET', 'CREDIT_SCORE', 'REPAYMENT_RISK_INDEX', 'AMT_CREDITCARD_PAYMENT', 'AMT_CASHADVANCE_PAYMENT', 'NUM_CREDITCARD_ISSUANCES', 'NUM_CREDITCARD_CANCELED', 'TF_LOAN', 'AMT_CREDITLOAN', 'AMT_CREDITLOAN_OUTSTANDING', 'TF_PENSION', 'AMT_PENSION', 'SERIALNUM']

ValueError: list.remove(x): x not in list

### 5.1. 결합대상정보 반출 클래스
- 가명정보 결합 결과물 데이터프레임 가져오기
   - 가명정보 결합 결과물을 실행클래스 내에서 가져오기
- 매핑테이블에서 원 데이터별 전체 일련번호와 결합 결과물 일련번호 비교
- 가명정보 결합 결과물에서 희망하는 컬럼들을 골라 DB에 저장할 수 있도록 하기
    - 결합 결과물 + 결합 안된 결과물 일부 일련번호별로 추출하기

In [21]:
class ReleaseData(PyMySQLQuery):
    """결합대상정보 반출 클래스"""
    def __init__(self, pw: str, schema_name: str, result_name: str, columns: list, joined_table: str, original_table: str, key_col: str):
        self.pw = pw
        self.schema_name = schema_name
        self.result_name = result_name
        self.columns = columns
        self.joined_table = joined_table
        self.original_table = original_table
        self.key_col = key_col
        super().__init__(pw = self.pw)

    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """DB 연결 메서드"""
        super().connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)

    def releaseData(self):
        """가명정보 결합 결과물을 DB에 저장하는 메서드
           * JoinData 클래스 결과물 중 컬럼 선택
           * SELECT (column 나열) FROM (JoinData 클래스 결과물) LEFT OUTER JOIN (원래 클래스)
        """
        super().dataQueryLanguage(f"DROP TABLE IF EXISTS {self.schema_name}.{self.result_name}")
        super().executeQuery()

        create_sql = f"CREATE TABLE {self.schema_name}.{self.result_name} AS "
        select_sql = f"SELECT {', '.join(self.columns)} FROM {self.joined_table} "
        join_sql = f"LEFT OUTER JOIN {self.original_table} ON {self.joined_table}.{self.key_col} = {self.original_table}.{self.key_col}"

        sql = create_sql + select_sql + join_sql

        super().dataQueryLanguage(sql)
        super().executeQuery()

In [106]:
class ReleaseData(PyMySQLQuery):
    """결합대상정보 반출 클래스"""
    def __init__(self, pw: str):
        self.pw = pw
        super().__init__(pw = self.pw)

    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """DB 연결 메서드"""
        super().connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)


    def getUnjoinedSerial(self, original_data, serial_col: str, mapping_table, suffix: str):
        """원 데이터와 매핑테이블을 비교하여 매핑테이블에 들어가지 못한 일련번호를 추출하는 메서드"""
        original_col = original_data[f"{serial_col}_{suffix}"]
        mapping_col = mapping_table[f"{serial_col}_{suffix}"]
        result = original_col[~original_col.isin(mapping_col)]
        return result

    def releaseData(self, data, unjoined_records, original_data, columns: list, table_name: str, schema_name: str, serial_col: str, engine):
        """가명정보 결합 결과물을 DB에 저장하는 메서드"""
        # 데이터 미결합분, 결합분 합치기
        unjoined_data = original_data[original_data[serial_col].isin(unjoined_records)]
        total_data = pd.concat([data, unjoined_data])

        result = pd.DataFrame()

        for column in columns:
            result[column] = total_data[column]

        result.to_sql(table_name, con=engine, if_exists='fail', index=False, schema=schema_name)

In [107]:
rd = ReleaseData(pw = "1234")

In [108]:
rd.connectDatabase(
    serverIP = "localhost", 
    port_num = 3306, 
    user_name = "root", 
    database_name = "FINANCIALCONSUMER", 
    kr_encoder = "utf8"
)

In [109]:
unjoinedSerial = rd.getUnjoinedSerial(original_data=target1, serial_col = "SERIALNUM", mapping_table = ct_result, suffix = "2")

In [110]:
unjoinedSerial

10          d11
14          d15
16          d17
18          d19
19          d20
          ...
94964    d94965
94971    d94972
94978    d94979
94991    d94992
94995    d94996
Name: SERIALNUM_2, Length: 14269, dtype: object

In [112]:
rd.releaseData(data = jd_result, unjoined_records=unjoinedSerial, original_data=target1, columns = ["HOME_TYPE", "INCOME_BRACKET", "TF_LOAN", "AMT_PURCHASES_BOOKS"], 
               table_name = "JOINED_TABLE", schema_name = "FINANCIALCONSUMER", serial_col = "SERIALNUM_2", engine = engine)

### 5.2. 결합키연계정보(결합키와 일련번호의 매핑테이블) 및 SALT값 DB분리보관(이관)을 위한 추출 클래스
- 해당 기능은 CreateMappingTable 클래스의 insertMappingTable 메서드로 구현

### 5.3. 2 ~ 5.2 까지 전부 실행하는 클래스
* DB 테이블/뷰 여러개 집어넣기
* → 각 테이블/뷰에 일련번호 입력하기
* → 결합키 생성항목 및 결합대상정보로 각각 테이블 쪼개서 분할저장하기
* → 결합키 생성항목과 일련번호로 결합키 및 매핑테이블 만들어 저장하기, 여기에 더해 SALT값 만들고 컬럼 붙이기
* → 일련번호를 기준으로 각 테이블별 결합대상정보 합치기
* → 결합 결과물 중 원하는 컬럼을 골라 + 결합비대상정보와 합쳐 내보내기
* 해당 결과 위해 상속용 클래스 2개 생성

In [ ]:
"""
    클래스별 필요한 입력값 정리
    - 결합키 입력 DB 스키마 & 테이블 이름
    - 결합대상정보 입력 DB 스키마 & 테이블 이름
    - 매핑테이블 DB 스키마 & 테이블 이름, serialcol_suffixes 형태에서 serialcol 이름과 suffixes 리스트
    - 결합대상정보 DB 스키마 & 테이블 이름, 매핑테이블 & 결합대상정보 테이블 이름, serialcol_suffixes 형태에서 serialcol 이름과 suffixes 리스트
    - 최종반출 결과물 DB 스키마 & 테이블 이름, 반출대상 컬럼명 리스트, 최종 결합결과 테이블 이름, 미결합 데이터 포함 위한 원본 테이블 이름

    +) 해당 입력값들 중 CryptoGraphy 영역, 긱 구체클래스 영역 구분
    +) 각 구체클래스 영역 입력값 중 __init__ 영역, 각 메서드 영역 구분 (현재는 DB pw만 __init__에서 입력)


    스키마, 테이블 이름은 각 클래스 __init__에서 직접 입력하기
    DB 구성값 (pw, host 등)은 실행클래스에서 입력 후 실행
    결합키-결합대상정보 분할용 스키마 & 테이블명 -> 각각 해당 구체클래스의 __init__에서 입력 
    매핑테이블-결합대상정보 만들기-반출대상 추출 -> 스키마 & 테이블명은 구체클래스 __init__에서 입력, serialcol 이름과 suffixes 리스트는 실행클래스에서 입력
"""

In [12]:
class CryptoGraphy(PyMySQLQuery):
    """클래스 전체 모아 최상위에서 실행하는 클래스"""
    def __init__(self, pw: str, crypto_columns: list, serial_text: str, serial_col: str, suffixes: list):
        self._pw = pw
        self._insertKey = None
        self._insertTarget = None
        self._createMappingTable = None
        self._joinData = None
        self._releaseData = None

        self._crypto_columns = crypto_columns
        self._serial_text = serial_text
        self._serial_col = serial_col
        self._suffixes = suffixes
        
        super().__init__(pw = self.pw)
        

    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """DB 연결 메서드"""
        super().connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)
    
    def addInsertClass(self, insertKey, insertTarget):
        """InsertKey, InsertTarget 클래스 주입"""
        if isinstance(insertKey, InsertKey):
            self._insertKey = insertKey
        else:
            print("해당 클래스는 결합키생성항목 입력 클래스가 아닙니다")

        if isinstance(insertTarget, InsertTarget):
            self._insertTarget = insertTarget
        else:
            print("해당 클래스는 결합대상정보 입력 클래스가 아닙니다")

    def addCreateMappingTable(self, createMappingTable):
        """CreateMappingTable 클래스 주입"""
        if isinstance(createMappingTable, CreateMappingTable):
            self._createMappingTable = createMappingTable
        else:
            print("해당 클래스는 결합키연계정보 생성 클래스가 아닙니다")

    def addJoinData(self, joinData):
        """JoinData 클래스 주입"""
        if isinstance(joinData, JoinData):
            self._joinData = joinData
        else:
            print("해당 클래스는 가명정보 결합 클래스가 아닙니다")

    def addReleaseData(self, releaseData):
        """ReleaseData 클래스 주입"""
        if isinstance(releaseData, ReleaseData):
            self._releaseData = releaseData
        else:
            print("해당 클래스는 결합대상정보 반출 클래스가 아닙니다")

    def cryptoGraphy(self):
        """InsertKey-InsertTarget, CreateMappingTable, JoinData, ReleaseData 클래스 전부 순서대로 실행하기"""
        # 각 테이블별로 일련번호를 self.serial_col 컬럼에 serial_text1, serial_text2 ... 형태로 붙이고, DB에 결합키와 결합대상정보를 분할
        # 아래 클래스와 메서드는 테이블 1개를 분할하기 위한 작업
        self._insertKey.addSerialNum(self._serial_col, self._serial_text)
        self._insertKey.insertDB(self._crypto_columns)
        self._insertTarget.insertDB(self._crypto_columns)

        # 매핑테이블을 만드는 과정에서 결합키 생성항목 컬럼의 self.serial_col 컬럼을 self.serial_col_suffix 로 바꾼 뒤, 결합키를 기준으로 일련번호 결합
        # 아래 클래스와 메서드는 이미 분할된 결합키 테이블 여러개를 위한 작업
        self._createMappingTable.renameCol(self._serial_col, self._suffixes)
        self._createMappingTable.joinDB(self._serial_col, self._suffixes)

        # 테이블별 일련번호가 적힌 self.serial_col_suffix 컬럼을 기준으로 결합대상정보 테이블 결합
        # 아래 클래스와 메서드는 이미 분할된 결합대상정보 테이블 여러개를 위한 작업
        self._joinData.joinDB(self._serial_col, self._suffixes)
        self._releaseData.releaseData()

In [ ]:
cg = CryptoGraphy()