### 0. 필요한 라이브러리 로드

In [1]:
import pymysql
from sqlalchemy import create_engine
# pip install mysqlclient

from abc import ABC, abstractmethod
from typing import *
import re

from prettytable import PrettyTable
import pandas as pd
pd.options.display.float_format = '{:.10f}'.format
import pprint

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. 결합대상정보 테이블 쿼리 클래스

* MySQL Server와 Python Script를 연동하여 스키마의 테이블에 쿼리를 날려 데이터를 추출하는 클래스

* 다른 데이터베이스 엔진에 대한 구현을 확장 및 유지보수하기 위해 추상화 클래스를 사용하여 인터페이스 정의

In [44]:
# import pymysql
# from abc import ABC, abstractmethod

class PreprocessQuery(ABC):
    """가명처리를 위한 개인정보 추출 목적의 SQL쿼리 추상클래스"""
    @abstractmethod
    def connectDatabase(self):
        """데이터베이스에 연결하기 위해 접속하는 메서드"""
        pass
    
    @abstractmethod
    def executeQuery(self, SQL):
        """SQL쿼리를 실행하는 메서드"""
        pass
    
    @abstractmethod
    def closeConnection(self):
        """데이터베이스와의 연결을 종료하는 메서드"""
        pass

In [49]:
# from pseudonymizer.encryptionPseudonyms.abstractpreprocessQuery import PreprocessQuery
# from typing import *

class PyMySQLQuery(PreprocessQuery):
    """MySQL Server데이터베이스에 연결하고 쿼리를 실행하여 데이터를 추출하는 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.DBconnection = ConnectMySQLserver(self._pw)
        self.SQL = None
    
    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속하는 메서드"""
        self.DBconnection.connectDatabase(serverIP, port_num, user_name, database_name, kr_encoder)
    
    def dataQueryLanguage(self, sql):
        """SQL쿼리문 작성 메서드(데이터 추출 쿼리문 캡슐화)"""
        self.SQL = f"{sql}"
    
    def executeQuery(self):
        """SQL쿼리문 실행 및 예외처리 메서드(데이터베이스로 쿼리를 보내서 실행)"""
        try:
            action_output = self.DBconnection.cursor.execute(self.SQL)
            return action_output
        except pymysql.Error as e:
            print(f"Error Executing Query: {e}")
    
    def commitTransaction(self):
        """실행결과를 확정(트랜잭션을 커밋)하는 메서드"""
        self.DBconnection.connection.commit()
    
    def closeConnection(self):
        """데이터베이스와의 연결을 종료하는 메서드"""
        self.DBconnection.close_connection()
        
    def executeQueryAsDataFrame(self):
        """SQL 쿼리를 실행한 결과를 판다스 데이터프레임으로 출력하는 메서드"""
        try:
            action_output = self.DBconnection.cursor.execute(self.SQL)
            records = self.DBconnection.cursor.fetchall()
            attributes = [i[0] for i in self.DBconnection.cursor.description]
            querydata = pd.DataFrame(records, columns = attributes)
            return querydata
        
        except pymysql.Error as e:
            print(f"Executing query error: {e}")

In [50]:
class ConnectMySQLserver:
    """데이터베이스 엔진을 연동하기 위한 접속 및 연결 종료 클래스"""
    def __init__(self, pw):
        self._pw = pw
        self.connection = None
        self.cursor = None
    
    def connectDatabase(self, serverIP: str, port_num: int, user_name: str, database_name: str, kr_encoder: str):
        """MySQL DBMS 데이터베이스에 접속 메서드
        : 서버IP주소, 사용자명, 계정 암호, 데이터베이스명, 한글 인코딩 방식"""
        try:
            self.connection = pymysql.connect(
                host=serverIP, port=port_num,
                user=user_name, password=self._pw,
                db=database_name, charset=kr_encoder
            )
            self.cursor = self.connection.cursor()
        except pymysql.Error as e:
            print(f"Error Connecting to MySQL from Python: {e}")
    
    def closeConnection(self):
        """연결 및 커서 닫기 메서드"""
        if self.cursor:
            self.cursor.close()
        if self.connection:
            self.connection.close()

In [51]:
queryObject = PyMySQLQuery(pw = "0123")

In [52]:
queryObject.connectDatabase(
    serverIP = "localhost", 
    port_num = 3306, 
    user_name = "root", 
    database_name = "FINANCIALCONSUMER", 
    kr_encoder = "utf8")

In [57]:
SQL = input("SQL 쿼리문 입력변수 = ")
# DATA_FINANCE
# DATA_RETAIL
# DATA_MOBILE_COMMUNICATION
# DATA_JOIN_CARDPAYMENT
# DATA_JOIN_ACCOMODATIONAPP

SQL 쿼리문 입력변수 = SELECT * FROM DATA_RETAIL

In [58]:
queryObject.dataQueryLanguage(sql = SQL)

In [59]:
results = queryObject.executeQueryAsDataFrame()

In [60]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85000 entries, 0 to 84999
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   NUM_SERIAL                 85000 non-null  int64
 1   NAME                       85000 non-null  object
 2   GENDER                     85000 non-null  object
 3   AGE                        85000 non-null  int64
 4   JOIN_DATE                  85000 non-null  object
 5   PHONE_NUMBER               85000 non-null  object
 6   ZIP_CODE                   85000 non-null  int64
 7   SHIPPING_ADDRESS           85000 non-null  object
 8   NUM_PURCHASES_BOOKS        85000 non-null  int64
 9   AMT_PURCHASES_BOOKS        85000 non-null  int64
 10  NUM_PURCHASES_CULTURE      85000 non-null  int64
 11  AMT_PURCHASES_CULTURE      85000 non-null  int64
 12  NUM_PURCHASES_EDU          85000 non-null  int64
 13  AMT_PURCHASES_EDU          85000 non-null  int64
 14  AMT_USAGE_MEMBERSHIP       85000 non-null  int64
 15  AMT_USAGE_GIFTCERTIFICATE  85000 non-null  int64
dtypes: int64(11), object(5)
memory usage: 10.4+ MB

```
if results:
    columns = [ [desc[0] for desc in queryObject.cursor.description] ]
    table = PrettyTable(*columns)
    
    for row in results:
        row_list = list(row)
        table.add_row(row_list)
    print(table)
```

### 1.2. 데이터베이스 엔진만 구현해서 테이블을 판다스 데이터프레임으로 로드하는 방식

* 테스트 편의를 위해 임시로 활용

In [24]:
engine = create_engine(
    "mysql://root:0123@localhost/FINANCIALCONSUMER", 
    convert_unicode = True)

C:\Users\sooyeon Kang\AppData\Local\Temp\ipykernel_33320\1840824735.py:1: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  engine = create_engine(

In [25]:
conn = engine.connect()

In [26]:
DATA_FINANCE = pd.read_sql_table("DATA_FINANCE", conn)
DATA_RETAIL = pd.read_sql_table("DATA_RETAIL", conn)
DATA_MOBILE_COMMUNICATION = pd.read_sql_table("DATA_MOBILE_COMMUNICATION", conn)
DATA_JOIN_CARDPAYMENT = pd.read_sql_table("DATA_JOIN_CARDPAYMENT", conn)
DATA_JOIN_ACCOMODATIONAPP = pd.read_sql_table("DATA_JOIN_ACCOMODATIONAPP", conn)

### 2. 결합키 생성 항목 및 결합대상정보(가명정보) 분할 클래스

### 3. 결합키 · 일련번호 · 결합키연계정보 · SALT값 생성 클래스

### 4. 가명정보 결합 클래스

### 5.1. 결합대상정보 반출 클래스

### 5.2. 결합키연계정보(결합키와 일련번호의 매핑테이블) 및 SALT값 DB분리보관(이관)을 위한 추출 클래스